html {
  background: #222;
}
canvas {
  border: solid 5px;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:900');
body {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
}
#main {
  outline: none;
}
#header {
  text-align: center;
  font-size: 48px;
  /*font-family: "Courier New", Courier, monospace;*/
  font-family: 'Roboto', sans-serif;
  color: grey;
}
#scoreboard {
  position: relative;
}
#clientcontainer {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  width: 200px;
  border: solid 1px black;
  padding: 20px;
  background: #EED;
  word-break: break-all;
}
#clientlist {
  list-style: none;
  padding-left: 0;
}
#menu-container {
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
}
#chatdiv {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px;
  background: grey;
  padding: 10px;
  width: 350px;
  height: 300px;
  font-size: 16px;
}
#input-chat {
  position: absolute;
  width: 100%;
  border: none;
  padding: 10px;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
}
#register {
  width: 200px;
  margin: 0 auto;
  box-sizing: border-box;
}
#register input {
  width: 100%;
  padding: 10px;
  left: 50%;
}
#sendchat {
  position: absolute;
  right: 0;
  bottom: 0;
}
#roomselector {
  width: 400px;
  position: fixed;
  background: white;
  border: 2px black;
  left: 50%;
  margin-left: -200px;
  top: 30%;
}
#roomselector button {
  box-sizing: border-box;
  width: 100%;
}
.playerName {
  list-style: none;
}
.playerScore {
  list-style: none;
}
#canvases > div {
  display: inline-block;
}
