html {
  background: #222;
}
#main {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#scnd {
  margin-left: 200px;
}
#canvascontainer {
  top: 100px;
  position: fixed;
  width: 400px;
  height: 800px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
canvas {
  border: solid 1px;
}
#main {
  outline: none;
}
#header {
  text-align: center;
  font-family: sans-serif;
  color: grey;
}
